:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #4154f1;
    text-decoration: none;
}

    a:hover {
        color: #717ff5;
        text-decoration: none;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}

    .section-header h2 {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 0;
        color: #4154f1;
        text-transform: uppercase;
    }

    .section-header p {
        margin: 10px 0 0 0;
        padding: 0;
        font-size: 38px;
        line-height: 42px;
        font-weight: 700;
        color: #012970;
    }

@media (max-width: 768px) {
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }
}

.logo {
    line-height: 0;
}

    .logo i {
        max-height: 40px;
        margin-right: 6px;
    }

    .logo span {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #012970;
        font-family: "Nunito", sans-serif;
        margin-top: 3px;
    }

.navegacion {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}

.navegacion2 {
    font-size: 15px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    background: url(../img/hero-bg.png) top center no-repeat;
    background-size: cover;
}

    .hero h1 {
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        color: #012970;
    }

    .hero h2 {
        color: #012970;
        margin: 0;
        font-size: 26px;
        font-weight: 600;
    }

    .hero .btn-get-started {
        margin-top: 30px;
        line-height: 0;
        padding: 15px 40px;
        border-radius: 4px;
        transition: 0.5s;
        color: #fff;
        background: #4154f1;
        box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    }

        .hero .btn-get-started span {
            font-family: "Nunito", sans-serif;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 1px;
        }

        .hero .btn-get-started i {
            margin-left: 5px;
            font-size: 18px;
            transition: 0.3s;
        }

        .hero .btn-get-started:hover i {
            transform: translateX(5px);
        }

.filtro {
    display: none;
}
